$content-width: 1284px;

$container-x-offset: 15px;
$container-y-offset: 0;

$color-header: #f6f2f2;


$font-for-title: 'Open Sans - Extrabold', sans-serif;
$second-font: 'Open Sans', sans-serif;

$font-size_lg: 42px;

/*--font size for header--*/
$font-size-header: 14px;

/*--font size for our-strong--*/
$font-size-0urStrong: 60px;

/*--font size for our-srervices--*/
$font-size-Services: 24px;

/*--font siz for feature products--*/

/*font size for our-team*/
$font-size_md: 30px;

/*-- font size for feedback--*/
$fz-feedback_sm: 18px;


$breakpoint-lg: 1280px;
$breakpoint-md: 980px;
$breakpoint-sm: 767px;
$breakpoint-extra-sm: 500px;